In [72]:
# Import modules or dependencies 

import csv
import pandas as pd

In [73]:
file = "../Resources/election_data_final.csv"

df = pd.read_csv(file)


df

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [74]:
total_votes_check = df.count()
total_votes_check

Voter ID     3521001
County       3521001
Candidate    3521001
dtype: int64

In [75]:
total_votes = df["Voter ID"].count()
total_votes

3521001

In [76]:
unique_candidates = df["Candidate"].unique()
unique_candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [77]:
candidates_total = df["Candidate"].value_counts()
candidates_total

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [78]:
Khan_individual_count = df["Candidate"].value_counts()['Khan']
Khan_individual_count

2218231

In [58]:
Correy_individual_count = df["Candidate"].value_counts()['Correy']
Correy_individual_count

704200

In [59]:
Li_individual_count = df["Candidate"].value_counts()['Li']
Li_individual_count

492940

In [60]:
oTooley_individual_count = df["Candidate"].value_counts()["O'Tooley"]
oTooley_individual_count

105630

In [61]:
Khan_percentage_vote = (Khan_individual_count/total_votes)*100
Khan_percentage_vote = (round(Khan_percentage_vote))
Khan_percentage_vote

63.0

In [62]:
Correy_percentage_vote = (Correy_individual_count/total_votes)*100
Correy_percentage_vote = (round(Correy_percentage_vote))
Correy_percentage_vote

20.0

In [63]:
Li_percentage_vote = (Li_individual_count/total_votes)*100
Li_percentage_vote = (round(Li_percentage_vote))
Li_percentage_vote

14.0

In [67]:
oTooley_Percentage_vote = (oTooley_individual_count/total_votes)*100
oTooley_Percentage_vote = (round(oTooley_Percentage_vote))
oTooley_Percentage_vote

3.0

In [70]:
winner_of_election = df["Candidate"].value_counts().idxmax()
winner_of_election

'Khan'

In [71]:
print("Election Results")
print("-----------------------------------")
print("Total Votes:",total_votes)
print("-----------------------------------")
print("Khan:",Khan_percentage_vote, "% ", "(", Khan_individual_count,")","")
print("Correy:",Correy_percentage_vote, "% ", "(", Correy_individual_count,")","")
print("Li:",Li_percentage_vote, "% ", "(", Li_individual_count,")","")
print("O'Tooley:",oTooley_Percentage_vote, "% ", "(", oTooley_individual_count,")","")
print("-----------------------------------")
print("Winner:", winner_of_election)

Election Results
-----------------------------------
Total Votes: 3521001
-----------------------------------
Khan: 63.0 %  ( 2218231 )
Correy: 20.0 %  ( 704200 )
Li: 14.0 %  ( 492940 )
O'Tooley: 3.0 %  ( 105630 )
-----------------------------------
Winner: Khan