In [10]:
# Import modules or dependencies 

import csv
import pandas as pd

In [11]:
file = "../Resources/election_data.csv"

df = pd.read_csv(file)


df

       Voter ID County Candidate
0      12864552  Marsh      Khan
1      17444633  Marsh    Correy
2      19330107  Marsh      Khan
3      19865775  Queen      Khan
4      11927875  Marsh      Khan
...         ...    ...       ...
65494  11378380  Queen    Correy
65495  12003162  Marsh      Khan
65496  13078139  Queen      Khan
65497  12570343  Marsh      Khan
65498  10530486  Marsh      Khan

[65499 rows x 3 columns]

In [12]:
total_votes = df.count()
total_votes

Voter ID     65499
County       65499
Candidate    65499
dtype: int64