In [52]:
# import necessary modules

import csv
import pandas as pd

In [138]:
#create succesful path to access the save csv file. Additionally, create a new data frame through pandas for the csv to be displayed in jupyter notebook 
file = "../Resources/budget_data.csv"

df = pd.read_csv(file)


df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [139]:
#formula to calculate the total number of months included in the data set
total_months = df["Date"].count()
total_months

86

In [140]:
#formula to calculate the net total over the entire period of our 'Profit/Losses' column
net_total = df["Profit/Losses"].sum()
net_total

38382578

In [141]:
#Need to create a variable that tags the last value in the 'Profit/Losses' column
final_value = df["Profit/Losses"].values[-1]
final_value

671099

In [142]:
#Need to create a variable that tags the first value provided in a specific column of the dataset
initial_value = df["Profit/Losses"].values[0]
initial_value

867884

In [143]:
#creae variable and formula to calculate average change of the 'Profit/Losses' column
average_change = ((final_value)-(initial_value))/(85)

average_change = (round(average_change, 2))

average_change

-2315.12

In [149]:
#Create variables to contain open lists to hold data for loops to capture the date, revenue and change in revenue
Date = []
change_in_revenue = []

#I need to create a for loop that allows me to identify the greatest and lowest changes amongst row values within the 'Profit/Losses' column 

for i in range(1,len(df["Profit/Losses"])):
    change_in_revenue.append(df["Profit/Losses"][i] - df["Profit/Losses"][i-1])  

# Create variables to represent max and min revenue change (RC)

    max_RC = max(change_in_revenue)
    
    min_RC = min(change_in_revenue)

In [172]:
maxRowNumber = change_in_revenue.index(max_RC)
#ourDataFram.iloc(columnNumberOfDate, maxRowNumber)

max_RC_date = df.iloc[maxRowNumber + 1, 0]

In [174]:
minRowNumber = change_in_revenue.index(min_RC)

min_RC_date = df.iloc[minRowNumber + 1, 0]

In [175]:
print("Financial Analysis")
print("-----------------------------------")
print("Total Months:",total_months)
print("Total Revenue: $",net_total)
print("Avereage Revenue Change: $", average_change)
print("Greatest Increase in Revenue:", max_RC_date, "($", max_RC,")")
print("Greatest Decrease in Revenue:", min_RC_date, "($", min_RC,")")

Financial Analysis
-----------------------------------
Total Months: 86
Total Revenue: $ 38382578
Avereage Revenue Change: $ -2315.12
Greatest Increase in Revenue: Feb-2012 ($ 1926159 )
Greatest Decrease in Revenue: Sep-2013 ($ -2196167 )